* {
    background: rgba(9, 243, 192, 0.466);
    color:rgb(8, 32, 25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1.tit {
    font-size: 35px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}

.first_class {
    background: rgba(185, 233, 12, 0.808);
    width: 140px;
    margin: 14px;
    padding: 7px;
}

.economic_class {
    background: rgba(23, 87, 139, 0.705);
    width: 140px;
    margin: 14px;
    padding: 7px;
}

.seats {
    border-right: 1px solid black; 
    display: inline-block;
    height: 100px;
    width: 220px;
}

#btn {
    background: rgba(4, 58, 51, 0.555);
    border-radius: 14px;
    border: none;
    padding: 7px;
    margin: 14px;
}

